.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: url("https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg")
    no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.page-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
